*/input
*/output
*/__pycache__
*/.ipynb_checkpoints
*-checkpoint.ipynb
*nbconvert.ipynb
*.pyc
*.log
.DS_Store
*/logbook.pdf
*/.texpadtmp/*
*eps-converted-to.pdf
*/tables
*/figures
*.aux
*.fdb_latexmk
*.fls
*.gz
*.toc
*.out
*.dta
*.nav
*.snm
venv/*
venv